html {
    font-family: 'Bungee', cursive;
    background-color:azure;
}

h1 {
    text-align: center;
}

#calculator {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: grey;
    box-sizing: border-box;
}

.display {
    border: 2px solid black;
    margin: 20px;
    border-radius: 5px;
    background-color: white;
    font-size: 25px;
    display: flex;
    justify-content: end;
}

.display p {
    padding-right: 10px;
    height: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.buttons {
    margin: 20px;
    height: 340px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button {
    margin: 3px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Bungee', cursive;
    background-color: white;
}

.buttons button:hover {
    background-color: rgb(221, 221, 221);
}

.buttons button:active {
    background-color: rgb(189, 189, 189);
}

.top-button {
    grid-column: span 2;
}


/* Operator */
.buttons .operator {
    background-color: orange;
}

.buttons .operator:hover {
    background-color: rgb(219, 143, 0);
}

.buttons .operator:active {
    background-color: rgb(197, 129, 3);
}

/* Top buttons */

.top-button {
    background-color: rgb(159, 130, 179)
}